@{
    ViewBag.Title = "Quienes Somos";
}
<h2>@ViewBag.Title.</h2>

<br>
<p>Esta página está en proceso de creación. Y le falta un bonito Diseño.</p>
<p>Tarea 2  -  Unidad 3</p>
<p>Desarrolladores: Mateus Dysiuta, Bryan Quintana, Tomas Traub</p>
<p> </p>
<p> </p>
<p> </p>
<br><br><br>
<br><br><br>