@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Inacap Apoquindo<br />
    Sala 321a, comuna Las Condes<br />
    <abbr title="Teléfono">Teléfono:</abbr>
    +569 74185963
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:soportetienda@lalala.cl">soportetienda@lalala.cl</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@lalala.cl">marketing@lalala.cl</a>
</address>
<br>
<br>
<br>